.btn {
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 75px 15px 25px;
    position: relative;

    .fas {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    &.btn-primary {
        
        background-color: $brand-pink;
        
        &:hover {
            background-color: darken($brand-pink, 5%);
        }

        
    }

    &.btn-secondary {
        background-color: $brand-purple;
        &:hover {
            background-color: darken($brand-purple, 5%);
        }
    }
}