@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");

$opensans: 'Open Sans', sans-serif;

html,
body {
	font-family: $opensans;
	font-size: 16px;
	line-height: 1.5;
}



