// Brand Colors
$brand-dark: #231F20;
$brand-purple: #5B0047;
$brand-light-purple: #86509F;
$brand-blue: #0071BC;
$brand-pink: #ED5791;
$brand-gray: #414042;
$brand-white: #fff;
$brand-light-gray1: #F0F0F0;
$brand-light-gray2: #BBBDBF;
$brand-dark-gray: #58595B;

// $grid-gutter-width: 16px !default;

$base-spacing-unit: 20px;


$brand-gradient-pink: linear-gradient(180deg, $brand-light-purple 0%,$brand-pink 100%);

$breadcrumb-divider: quote("»");


