// Brand Colors
$brand-dark: #231f20;
$brand-purple: #5b0047;
$brand-light-purple: #86509f;
$brand-blue: #0071bc;
$brand-pink: #ed5791;
$brand-gray: #414042;
$brand-white: #fff;
$brand-light-gray1: #f0f0f0;
$brand-light-gray2: #bbbdbf;
$brand-dark-gray: #58595b;

$brand-dark-blue: #25255e;
$brand-blue: #1e71b4;
$white: #fff;
$brand-purple: #89338a;

// $grid-gutter-width: 16px !default;

$base-spacing-unit: 20px;
$grid-gutter-width: 72px;

$brand-gradient-pink: linear-gradient(180deg, $brand-light-purple 0%, $brand-pink 100%);

$breadcrumb-divider: quote('»');

$brand-orange: #f37f4c;
$brand-blue: #0071ce;
$brand-med-blue: #2b3990;
$brand-dark-blue: #001c71;
